.vui-btn-wrapper{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding:0 11px;
	border-radius: 4px;
	color:#fff;
	background: #ddd9d9;
	cursor: pointer;
}
.vui-theme-blue-dark{
	background: #657fef;
	color:#fff;
}