*{
	margin: 0px;
	padding: 0px;
}
.top{
	width: 100%;
	height: 120px;
	background-repeat: no-repeat;
}
.avatar{
    position: absolute;
    top: 20px;
    right: 0px;
    color: rgb(169, 183, 183);
    font-size: 14px;
    padding-right: 20px;
}
.header{
    width: 100%;
    height: 65px;
    backgroundcolor: rgb(59, 140, 255);
}
.image{
	width:1600px;
	
}